################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/packages
/DAEnerys/bin
/DAEnerys/obj
/editing
/DAEnerys/colladaBlenderFix.dae
